mixin team
    section(class="team" id="team" )
        div(class="container")
            h2(class="base__title  base__title--team d-flex justify-content-center") Our Team
            div(class="row")
                div(class="col-md-3 d-flex flex-column align-items-center")
                    img(src="./img/img4.png" alt="team")
                    h3(class="team__title") Alan Sobakovich
                    p(class="team__subtitle") Founder
                    p(class="team__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.                 
                div(class="col-md-3 d-flex flex-column align-items-center")
                    img(src="./img/img5.png" alt="team")
                    h3(class="team__title") John Mu
                    p(class="team__subtitle") Product Manager
                    p(class="team__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.                 
                div(class="col-md-3 d-flex flex-column align-items-center")
                    img(src="./img/img6.png" alt="team")
                    h3(class="team__title") Melissa Jade
                    p(class="team__subtitle") Designer
                    p(class="team__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.                 
                div(class="col-md-3 d-flex flex-column align-items-center")
                    img(src="./img/img7.png" alt="team")
                    h3(class="team__title") Greg Mercury
                    p(class="team__subtitle") Developer
                    p(class="team__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. 