mixin features
    section(class="features" id="features")
                    div(class="container") 
                        h2(class="base__title d-flex justify-content-center") Features 
                        p(class="base__text base__text--features").
                         Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et
                            facilisis definiebas
                            est, nec et autem
                            impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.
                        div(class="row") 
                            div(class="col-md-7 col-lg-6") 
                                div(class="row") 
                                    div(class="col-12 d-flex") 
                                        div(class="features__marker d-flex justify-content-center") 
                                            .material-icons-tune.features__icon 
                                        div(class="features__desc") 
                                            h3(class="features__title") Instant Skins Switcher 
                                            p(class="features__text").
                                              Switch styles instantly; choose among Material, Flat,
                                                Minimal,
                                                Grunge, Metro, 8-bit or
                                                <br class="d-none d-xl-block"> Non-Standard Geometry. 
                                    div(class="col-12 d-flex") 
                                        div(class="features__marker d-flex justify-content-center") 
                                            .material-icons-dvr.features__icon 
                                        div(class="features__desc") 
                                            h3(class="features__title") Various Scripts Included 
                                            p(class="features__text").
                                             Various Scripts are already on a board. Use
                                                <br class="d-none d-xl-block"> Owl Carousel, Tabs etc. for your needs 
                                    div(class="col-12 d-flex") 
                                        div(class="features__marker d-flex justify-content-center") 
                                            .material-icons-devices.features__icon 
                                        div(class="features__desc") 
                                            h3(class="features__title") Fully Responsive Design 
                                            p(class="features__text").
                                             Product is tested on the common devices. It will
                                                render and scale
                                                on any possible screen.
                            div(class="col-md-5 col-lg-6 features__img-wrapper") 
                                img.features__img(src="./img/img1.png" alt="features") 