mixin how-work
    section(class="how-work")
            div(class="container") 
                div(class="row") 
                    div(class="col-md-6 order-md-1 order-sm-1") 
                        a(data-fancybox href="https://www.youtube.com/watch?v=8jhbvjBDybM"   ) 
                            img(src="./img/img8.png" alt="how-work" class="how-work__img") 
                    div(class="col-md-6 order-md-1 order-sm-1") 
                        h2(class="base__title base__title--how-work d-flex justify-content-left") How Its Work 
                        h3(class="how-work__subtitle") Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est.
                        p(class="how-work__text").
                         Malorum dolores gloriatur pro at, id offendit lucilius democritum
                         quo. Ludus ubique
                         fastidii dolores sit et persius reformidans. Ei vide movet tibique ius, eos vivendo
                         consetetur theophrastus cu. Eum erroribus necessitatibus ne. Eius singulis ea his,
                         debitis nonumes at per appareat ponderum eos. 