mixin main
    main
        article
            +about
            +features
            +advantages
            +testimonials
            +team
            +faqs
            +how-work
            +portfolio
            +blog
            +partners