.logo {
    margin-top: 4px;

    &__link {
        color: white;
        font-size: 62px;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 0.009em;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    &__link--flat {
        font-weight: 300;
    }
}