.logo {
    margin-top: 4px;

    &__link {
        color: white;
        font-size: 62px;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 0.009em;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    &__link--flat {
        font-weight: 300;
    }

    @media screen and (max-width: 1480px) {
        &__link {
            font-size: 50px;
        }

    }

    @media screen and (max-width: 991px) {
        &__link {
            font-size: 32px;
        }

    }

    @media screen and (max-width: 575px) {
        &__link {
            font-size: 21px;
        }

    }
}