mixin blog
    section(class="blog") 
            .container
                h2(class="base__title base__title--blog d-flex justify-content-center")  Latest From the Blog
                p(class="base__text base__text--blog ").
                 Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas
                    est, nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.
                .container 
                    .row 
                        .col-md-6
                            .blog__img 
                                a(href="#" class="blog__link") 
                                    img(src="./img/img13.png" alt="img" class="blog__pic") 
                            .blog__text 
                                p(class="blog__date") 2 days ago
                                p(class="blog__subtitle") No nam conceptam suscipiantur . . .
                        .col-md-6 
                            .blog__img
                                a(href="#" class="blog__link") 
                                    img(src="./img/img14.png" alt="img" class="blog__pic") 
                            .blog__text 
                                p(class="blog__date") 4 days ago
                                p(class="blog__subtitle")  Eum erroribus necessitatibus ne. . .