.blog {
    padding-top: 115px;
    padding-bottom: 128px;
    background-image: url(../img/bg3.png);
    background-position: top center;
    background-size: cover;

    &__img {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        padding-top: 23px;
        max-width: 582px;

        &:hover:before {
            background: linear-gradient(0deg, rgba(51, 51, 51, 0.6) 0%, transparent 56%, transparent 100%);
            content: '';
            display: block;
            position: absolute;
            bottom: 2%;
            left: 0;
            height: 100%;
            width: 100%;
        }

    }


    &__marker {
        position: absolute;
        z-index: 33333;
        width: 46px;
        height: 46px;
        background-color: #5dbdfe;
        box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        top: 51px;
        right: 26px;

        &:hover {
            background-color: white;
        }

        &:hover .blog__icon {
            color: #5dbdfe;
        }


    }

    &__icon {
        color: white;
        font-size: 23px;
        transition: ease 1s;
    }

    &__plate {
        display: none;
    }

    &__text {
        position: absolute;
        bottom: 30px;
        left: 34px;
        padding-right: inherit;
        display: none;


    }

    &__img:hover .blog__text {
        display: block;
    }

    &__img:hover .blog__plate {
        display: block;
    }

    &__date {
        color: #cfcfcf;
        font-size: 16px;
        font-weight: 900;
        line-height: 34px;
    }

    &__subtitle {
        color: white;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
    }

    @media screen and (max-width: 991px) {


        &__subtitle {
            font-size: 17px;
            line-height: 1;
        }

        &__text {
            font-size: 17px;
        }

        & {
            padding-top: 80px;
            padding-bottom: 50px;
        }

        &__img {
            padding-bottom: 0;
        }
    }
}