mixin portfolio
    section(class="portfolio") 
        div(class="container-fluid") 
            div(class="row no-gutters") 
                div(class="col-md-3") 
                    .portfolio__img-link 
                        a(href="./img/img9.png" data-fancybox="gallery" class="portfolio__link") 
                            img(src="./img/img9.png" alt="img" class="portfolio__img") 
                            .portfolio__plus 
                                .material-icons-add.portfolio__icon
                div(class="col-md-3")
                    .portfolio__img-link  
                        a(href="./img/img10.png" data-fancybox="gallery" class="portfolio__link") 
                            img(src="./img/img10.png" alt="img" class="portfolio__img")
                            .portfolio__plus 
                                .material-icons-add.portfolio__icon 
                div(class="col-md-3")
                    .portfolio__img-link 
                        a(href="./img/img11.png" data-fancybox="gallery" class="portfolio__link") 
                            img(src="./img/img11.png" alt="img" class="portfolio__img") 
                            .portfolio__plus 
                                .material-icons-add.portfolio__icon
                div(class="col-md-3") 
                    .portfolio__img-link 
                        a(href="./img/img12.png" data-fancybox="gallery" class="portfolio__link") 
                            img(src="./img/img12.png" alt="img" class="portfolio__img") 
                            .portfolio__plus 
                                .material-icons-add.portfolio__icon