mixin about
    section(class="about d-flex justify-content-center")
        .container
            h2(class="base__title d-flex justify-content-center") About Us
            p(class="base__text base__text--about ") Lorem ipsum dolor sit amet, cetero temporibus exnec. Et facilisis definiebas est, nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale possit nostrum et pro.
            div(class="row")
                div(class="col-12 col-md-6 d-flex")
                    div(class="about__marker d-flex justify-content-center align-items-center")
                        .material-icons-comment.about__icon
                    div(class="about__desc")
                        h3(class="about__title") Exclusive Shortcodes
                        p(class="about__text") Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.
                div(class="col-12 col-md-6 d-flex")
                    div(class="about__marker d-flex justify-content-center align-items-center") 
                        .material-icons-verified_user.about__icon 
                    div(class="about__desc")
                        h3(class="about__title") 100% valid and clean code/h3)
                        p(class="about__text") Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.
            div(class="row")
                div(class="col-md-6 d-flex")
                    div(class="about__marker d-flex justify-content-center align-items-center") 
                        .material-icons-autorenew.about__icon 
                    div(class="about__desc")
                        h3(class="about__title") Free Lifetime Updates/h3)
                        p(class="about__text") Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.
                div(class="col-md-6 d-flex")
                    div(class="about__marker d-flex justify-content-center align-items-center") 
                        .material-icons-headset_mic.about__icon 
                    div(class="about__desc")
                        h3(class="about__title") 24/7/365 Customer Support/h3)
                        p(class="about__text") Malorum dolores gloriatur pro at, id offendit lucilius democritum quo. Ludus ubique fastidii dolores sit et persius reformidans.