mixin partners
    section(class="partners" id="partners")
            div(class="container") 
                h2(class="base__title base__title--partners d-flex justify-content-center") Our partners 
                div(class="row") 
                    div(class="col-12 col-xl-4 d-flex justify-content-center partners__plate1") 
                        a(href="#" class="partners__link") 
                            img(src="./img/img17.png" alt="img" class="partners__img") 
                    div(class="col-12 col-xl-4 partners__plate2 d-flex justify-content-center partners__plate1") 
                        a(href="#" class="partners__link") 
                            img(src="./img/img16.png" alt="img" class="partners__img") 
                    div(class="col-12 col-xl-4 partners__plate3 d-flex justify-content-center partners__plate1") 
                        a(href="#" class="partners__link") 
                            img(src="./img/img15.png" alt="img" class="partners__img") 