.nav {
    padding: 33px 53px 41px 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent !important;
    }

    &__item {
        margin-left: 52px;

    }

    &__link {
        color: white !important;
        font-size: 24px;
        font-weight: 400;
        line-height: 46px;
    }

    &__dropdown {
        border: none;
        color: #333;
        font-size: 20px !important;
        font-weight: 400;
        line-height: 37px;
        margin-top: 49px;

    }

    @media screen and (max-width: 1480px) {

        & {
            padding: 21px 53px 14px 78px;
            max-width: 1250px;
        }

        &__dropdown {
            margin-top: 23px;
        }

        &__item {
            margin-left: 20px;
        }

        &__link {
            font-size: 20px;
        }

    }

    @media screen and (max-width: 1199px) {
        &__item {
            margin-left: 10px;
        }

        & {
            padding: 21px 15px 14px 15px;
        }

    }

    @media screen and (max-width: 991px) {
        &__item {
            margin-left: 0px;
        }

    }

    @media screen and (max-width: 575px) {
        & {
            padding: 8px 15px 8px 15px;

        }

    }
}

.nav:not(.nav-active) .navbar-toggler-icon {
    background-image: url(../img/menu.png);
}

.navbar-light .navbar-toggler {
    border: none
}

@media screen and (max-width: 575px) {
    .navbar-toggler {
        font-size: 1rem;
    }

}

.navbar-toggler .navbar-toggler-icon {
    background-image: url(../img/close.png);
}

.nav-active {
    width: 100vw;
    background-image: linear-gradient(to left top, #525751, #5a625d, #636e69, #6c7976, #758584, #839394, #92a0a4, #a2aeb3, #bac1c7, #d2d5d9, #e9eaec, #ffffff);
    height: 100vh;
    justify-content: center;
    align-items: flex-start;

    & .header__logo {
        display: none;
    }

    & .nav__list {
        width: 100vw;
    }

    & .navbar-toggler-icon {
        position: absolute;
        right: 6%;
        top: 2%;
    }

    & .nav__dropdown {
        text-align: center;
        background-color: transparent;

    }


}