mixin footer
    footer(class="footer")
            section(class="contact") 
                div(class="container") 
                    h2(class="base__title base__title--contact d-flex justify-content-center") Contact us  
                    p(class="contact__map") 
                        a(href="https://goo.gl/maps/Yq3DpJjWLuR8CzYC7" class="contact__map")  8901 Marmora Road, Glasgow, D04 89GR. 
                    p(class="contact__lead") Telephone:
                        a(href="tel:+1 800 603 6035" class="contact__link") +1 800 603 6035 
                    div(class="footer__icon d-flex justify-content-center") 
                        div(class="footer__facebook d-flex justify-content-center align-items-center") 
                            a(target="_blank footer__link" href="https://facebook.com/") 
                                i(class="fab fa-facebook-f") 
                        div(class="footer__twitter d-flex justify-content-center align-items-center") 
                            a(target="_blank footer__link" href="https://twitter.com/") 
                                i(class="fab fa-twitter")   
                        div(class="footer__google d-flex justify-content-center align-items-center") 
                            a(target="_blank footer__link" href="https://www.google.com/")  
                                i(class="fab fa-google-plus-g")
                .container-fluid
                    .footer__scroll.d-flex.justify-content-end
                        .footer__scroll-wrapper
                            .material-icons-arrow_drop_up.footer__scroll-icon
                div(class="container")           
                    p(class="footer__copyright") Colorful Flat © 2015. All Rights Reserved 
            +map 