.header {


    &__container {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__main {
        padding-top: 156px;
        padding-bottom: 190px;
    }

    &__title {
        color: white;

        font-size: 112px;
        font-weight: 300;
        line-height: 120px;
        padding-bottom: 133px;
    }

    &__text {
        color: white;
        font-size: 34px;
        font-weight: 400;
        line-height: 56px;
    }


    @media screen and (max-width: 991px) {
        &__main {
            padding-top: 85px;
            padding-bottom: 114px;
        }

        &__title {
            font-size: 84px;
        }

    }

    @media screen and (max-width: 767px) {
        &__text {
            font-size: 27px;
        }

        &__title {
            font-size: 53px;
            padding-bottom: 37px;
        }

    }

    @media screen and (max-width: 575px) {
        &__text {
            font-size: 25px;
        }

        &__title {
            font-size: 33px;
            line-height: 1;
        }

        &__main {
            padding-top: 35px;
        }

    }


}