mixin header
    header
        div(id="video" class="section")  
            div(class="container-fluid ") 
                div(class="header__container") 
                    div(class="nav d-flex align-items-center justify-content-between") 
                        div(class="header__logo logo") 
                            a(href="" class="logo__link") colorful
                                span(class="logo__link logo__link--flat") flat 
                        div(class="header__nav d-flex") 
                            div(class="header__nav") 
                                +nav
            div(class="header__main") 
               div(class="container") 
                    p(class="header__text d-flex justify-content-center") The best open page template for 
                    h1(class="header__title d-flex justify-content-center") Web Professionals 
                    div(class="row") 
                       div(class="offset-md-4 col-md-4 offset-md-4") 
                            +form