mixin advantages
    section( id="advantages" class="advantages d-flex justify-content-center") 
            div(class="container") 
                h2(class="base__title base__title--advantages d-flex justify-content-center") Advantages 
                p(class="base__text base__text--advantages").
                 Lorem ipsum dolor sit amet, cetero temporibus ex nec. Et facilisis definiebas est, 
                 nec et autem impetus oportere, vim te exerci noster omnium. Habeo dicam vim at, sale 
                 possit nostrum et pro.
                div(class="row") 
                    div(class="advantages__wrapper col-sm-6 col-md-3") 
                        div(class="advantages__radius")  
                            div(class="advantages__number") 1. 
                        h3(class="advantages__title") Cu tantas platonem
                        p(class="advantages__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  
                    div(class="advantages__wrapper col-sm-6 col-md-3") 
                        div(class="advantages__radius")  
                            div(class="advantages__number") 2. 
                        h3(class="advantages__title") Aperiam suscipiantur
                        p(class="advantages__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  
                    div(class="advantages__wrapper col-sm-6 col-md-3") 
                        div(class="advantages__radius")  
                            div(class="advantages__number") 3. 
                        h3(class="advantages__title") Nusquam facilisis
                        p(class="advantages__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  
                    div(class="advantages__wrapper col-sm-6 col-md-3") 
                        div(class="advantages__radius")  
                            div(class="advantages__number") 4. 
                        h3(class="advantages__title") Ex vel legimus
                        p(class="advantages__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  
                div(class="row") 
                    div(class="advantages__wrapper col-sm-6 col-md-3") 
                        div(class="advantages__radius")  
                            div(class="advantages__number") 5. 
                        h3(class="advantages__title") Nusquam facilisis
                        p(class="advantages__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  
                    div(class="advantages__wrapper col-sm-6 col-md-3") 
                        div(class="advantages__radius")  
                            div(class="advantages__number") 6. 
                        h3(class="advantages__title") Ex vel legimus
                        p(class="advantages__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  
                    div(class="advantages__wrapper col-sm-6 col-md-3") 
                        div(class="advantages__radius")  
                            div(class="advantages__number") 7. 
                        h3(class="advantages__title") Aperiam suscipiantur
                        p(class="advantages__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  
                    div(class="advantages__wrapper col-sm-6 col-md-3") 
                        div(class="advantages__radius")  
                            div(class="advantages__number") 8. 
                        h3(class="advantages__title") Cu tantas platonem
                        p(class="advantages__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  
