a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: none !important;
    }
}

button,
a,
button:active,
button:focus {
    outline: none;
}

img {
    max-width: 100%;
}




.section {
    min-height: 100vh;
    width: 100%;
    text-align: center;


}

.wrap-block {
    margin-top: 500px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

body {
    font-family: 'Lato', sans-serif;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.base {
    &__text {
        opacity: 0.8;
        color: #333;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        text-align: center;
        padding-right: 10%;
        padding-left: 10%;
    }

    &__title {
        color: #333;
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        padding-bottom: 28px;

    }

    &__text--about {
        margin-bottom: 60px;
    }

    &__text--features {
        margin-bottom: 43px;
    }


    &__text--advantages {
        color: white;
        padding-bottom: 62px;
    }

    &__title--advantages {
        color: white;
        padding-bottom: 31px;
    }

    &__title--team {
        padding-bottom: 61px;
    }

    &__title--faqs {
        padding-bottom: 60px;
    }

    &__title--blog {
        padding-bottom: 33px;
        text-align: center;
    }

    &__text--blog {
        padding-bottom: 36px;
    }

    &__title--partners {
        padding-bottom: 72px;
    }

    &__title--contact {
        color: white;

    }

    @media screen and (max-width: 991px) {
        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 18px;

        }

        &__title--partners {
            padding-bottom: 20px;
        }
    }

    @media screen and (max-width: 575px) {


        &__text {
            text-align: left;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}



.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container {
    max-width: 1200px;
}

a {
    text-decoration: none;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}