//- include ./blocks/about/_about.pug
include ./blocks/header/_header.pug
include ./blocks/nav/_nav.pug
include ./blocks/main/_main.pug
include ./blocks/form/_form.pug
include ./blocks/about/_about.pug
include ./blocks/features/_features.pug
include ./blocks/advantages/_advantages.pug
include ./blocks/testimonials/_testimonials.pug
include ./blocks/team/_team.pug
include ./blocks/faqs/_faqs.pug
include ./blocks/how-work/_how-work.pug
include ./blocks/portfolio/_portfolio.pug
include ./blocks/blog/_blog.pug
include ./blocks/partners/_partners.pug
include ./blocks/footer/_footer.pug
include ./blocks/map/_map.pug




<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Professionals
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon")
        link(rel="icon" href="./img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="./css/slick.css")
        link(rel="stylesheet", href="./css/slick-theme.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
        link(rel="stylesheet", href="./css/style.css")
    body(id="scene")
        //- +sticky
        +header
        +main
        +footer
        
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://code.jquery.com/jquery-3.1.0.js")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        //- integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQDEK_bp8E3TJz1Sg1VMqF7jn8J3Z7Haw")
        script(src="./js/vendor.js")
        script(src="./js/jquery.vide.js")
        script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
        script(src="./js/slick.js")
        script(src="./js/main.js")
        script(src="./js/map.js")
        script(src="https://kit.fontawesome.com/0b79355df0.js" crossorigin="anonymous")             