.testimonials {
    background-image: url(../img/bg3.png);
    background-position: top center;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;

    &__title {
        opacity: 0.8;
        color: #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
        padding-top: 17px;
        padding-bottom: 40px;

        &--font {
            font-weight: 300;
        }

    }

    &__text {
        color: #5dbdfe;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        padding-top: 28px;
        padding-bottom: 12px;
    }

    & .base__title {
        padding-bottom: 57px;
    }

    @media screen and (max-width: 991px) {

        &__title {
            font-size: 18px;
            text-align: center;
        }

        & {
            padding-top: 80px;
            padding-bottom: 50px;
        }

        &__text {
            font-size: 17px;
        }

    }

    @media screen and (max-width: 767px) {

        &__title {
            padding-left: 10%;
            padding-right: 10%;
        }



    }

    @media screen and (max-width: 575px) {

        &__title {
            padding-left: 15px;
            padding-right: 15px;
        }



    }

}

.slick-dots li.slick-active button::before {
    color: #333333;
}

.slick-dots li button::before {
    font-size: 34px;
    color: #ccc;
}

.slick-dots li {
    margin: 0 0;
}