mixin testimonials
    section(class="testimonials" id="testimonials")
        div(class="container") 
            h2(class="base__title d-flex justify-content-center") Testimonials
            .testimonials__icon.d-flex.justify-content-center
                    img(src="./img/img20.png" alt="" class="testimonials__img") 
            .testimonials__slider
                .testimonials__slide-one
                    p(class="testimonials__title").
                        Vis quaeque inermis atomorum cu. Aperiam suscipiantur at pro. Nec
                        paulo essent hendrerit ut, mel
                        cu oblique eripuit maiestatis.
                    div(class="d-flex justify-content-center") 
                        img(src="./img/img18.png" alt="" class="testimonials__img")
                    p(class="testimonials__text") Rob Singer, Web Developer
                .testimonials__slide-two
                    p(class="testimonials__title testimonials__title--font").
                        Vis quaeque inermis atomorum cu. Aperiam suscipiantur at pro. Nec
                        paulo essent hendrerit ut, mel
                        cu oblique eripuit maiestatis.
                    div(class="d-flex justify-content-center") 
                        img(src="./img/img19.png" alt="" class="testimonials__img")
                    p(class="testimonials__text") Alan Johnson, SEO 