.map {
    min-height: 500px;

    @media screen and (max-width: 991px) {
        max-height: 300px;
    }

    @media screen and (max-width: 575px) {
        max-height: 200px;

    }
}

#map2 {
    fill: white;
    width: 50px;
}